<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiatec.playz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.wiatec.btv_launcher.provide.Read" />

    <application
        android:name="com.wiatec.playz.instance.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wiatec.playz.view.activity.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wiatec.playz.view.activity.SplashActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wiatec.playz.view.activity.AdScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wiatec.playz.view.activity.UpgradeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wiatec.playz.view.activity.AdVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wiatec.playz.view.activity.MoviesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wiatec.playz.view.activity.ChannelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wiatec.playz.view.activity.ChannelTypeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.wiatec.playz.view.activity.PlayActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.wiatec.playz.view.activity.FMPlayActivity" />
        <activity android:name="com.wiatec.playz.view.activity.ChannelTypeActivity1"/>
        <activity android:name="com.wiatec.playz.view.activity.ChannelTypeActivity2"/>
    </application>

</manifest>